.services-container h5 {
  color: #1cc7c1;
  font-weight: 700;
}

.services-container h1 {
  color: #3a4256;
  font-weight: 700;
  margin-top: 1rem;
}

.services-container > div {
  width: 70%;
}

@media (max-width: 768px) {
  .services-container > div {
    width: 100%;
  }
}
