.contact {
  background-image: url("../../images/ap-banner-bg.png");
  position: relative;
  z-index: 1;
}

.contact::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(12, 11, 27);
  opacity: 0.9;
  z-index: -1;
}

.contact h5 {
  color: #1cc7c1;
  font-weight: 600;
}

.contact input {
  padding: 1.5rem 0.8rem;
  box-shadow: none !important;
}

.contact textarea,
button {
  box-shadow: none !important;
}

.contact input:focus,
.contact textarea:focus {
  border: 1px solid #1cc7c1;
}

.contact button {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  padding: 0.8rem 4rem;
  font-weight: 600;
  margin-top: 1.8rem;
}
