.footer-area {
  background-image: url("../../images/footer-bg.png");
  background-size: cover;
}

.footer-area li {
  padding-bottom: 10px;
}

.footer-area h5 {
  color: #1cc7c1;
  font-weight: 600;
}

.social-media .icon {
  height: 40px;
  width: 40px;
  color: #1cc7c1;
  border-radius: 50%;
  border: 1px solid #6acece;
  padding: 10px;
}

.social-media .active-icon {
  background-color: #6acece;
  color: white;
}

.footer-area a:hover {
  text-decoration: none;
  color: #1cc7c1 !important;
}

.footer-area button {
  border: 0;
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  padding: 1rem 2rem;
  font-weight: 600;
}
