#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: rgb(251, 251, 251) !important;
}

::-webkit-scrollbar-thumb {
  background: #efefef !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(176, 178, 180) !important;
}

p {
  line-height: 2;
  font-size: 1.1rem;
}
